
<!--extends parts/layout-->
<!--block head-->
<link rel="stylesheet" href="/css/head.css"/>
<!--block content-->
<h1>SUMULTA</h1>
<!--include parts/registration-->
<div ng-controller="Auth" class="right">
  <button ng-if="!user.auth" ng-click="setAuth('login')">Войти</button>
  <button ng-if="!user.auth" ng-click="setAuth('reg')">Зарегистрироваться</button>
  <div ng-if="user.auth">
    <div>Приветствую, {{user.name}}</div>
    <button ng-click="logout()">Выйти</button>
  </div>
  <!--include parts/user-->
</div>
<div class="center">
  <div class="group">
    <h1>Новости</h1>
    <div id="news">загрузка ...</div>
  </div>
  <div class="half">
    <div class="group">
      <h1>Проекты</h1>
      <table>
        <thead>
          <tr>
            <th>Имя</th>
            <th>Описание</th>
            <th>Автор</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="project in projects.items">
            <td><a href="/{{project.owner}}/{{project.name}}">{{project.name}}</a></td>
            <td>{{project.desc}}</td>
            <td><a href="/{{project.owner}}">{{project.owner}}</a></td>
          </tr>
          <tr> 
            <td><a href="/{{user.name}}/new">Новый проект...</a></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="half">
    <div class="group">
      <h1>Пользователи</h1>
      <table>
        <thead>
          <tr>
            <th>Имя</th>
            <th>Проектов</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users.items">
            <td><a href="/{{user.name}}">{{user.name}}</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>