//extends parts/layout

//block head
link(rel='stylesheet', href='/css/head.css')

//block content
h1 SUMULTA
//include parts/registration
div.right(ng-controller="Auth")
	button(ng-if="!user.auth" ng-click="setAuth('login')") Войти
	button(ng-if="!user.auth" ng-click="setAuth('reg')") Зарегистрироваться
	div(ng-if="user.auth")
		div Приветствую, {{user.name}}
		button(ng-click="logout()") Выйти
	//include parts/user
div(class='center')
	div(class='group')
		h1 Новости
		div(id='news') загрузка ...
	div(class='half')
		div(class='group')
			h1 Проекты
			table
				thead
					tr
						th Имя
						th Описание
						th Автор
				tbody
					tr(ng-repeat="project in projects.items")
						td
							a(href="/{{project.owner}}/{{project.name}}") {{project.name}}
						td {{project.desc}}
						td
							a(href="/{{project.owner}}") {{project.owner}}

					tr 
						td
							a(href="/{{user.name}}/new") Новый проект...
						td
						td
	div(class='half')
		div(class='group')
			h1 Пользователи
			table
				thead
					tr
						th Имя
						th Проектов
				tbody
					tr(ng-repeat="user in users.items")
						td
							a(href="/{{user.name}}") {{user.name}}
						td


	