script(src="/js/ui/01_index.js")
script(src="/js/ui/02_menu.js")
script(src="/js/ui/03_toolbar.js")
script(src="/js/ui/04_css.js")
script(src="/js/lang/ru.js")

script(src="/js/core/storage.js")
script(src="/js/core/view.js")
script(src="/js/core/controller.js")
script(src="/js/core/editor.js")
script(src="/js/core/grid.js")
script(src="/js/core/navi.js")

script(src="/js/core_ctl.js")
//script(src="/js/core/index.js")

script(src="/js/geom/0_pnl.js")
script(src="/js/geom/arcs.js")
script(src="/js/geom/arrows.js")
script(src="/js/geom/blocks.js")
