doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/graph.css')
    link(rel='stylesheet', href='/css/icons.css')
    link#css(rel='stylesheet', href='/css/lite.css')
    block head
  body
    block content