div.top.bar(ng-controller="StorageCtl")
	div
		button.unicon(ng-click='clear("Новый лист")' title="Создать новый проект") 6
		button.unicon(title="Открыть проект") 8
		button.unicon(ng-click='save($routeParams.project)' title="Сохранить проект") e
		button.unicon(ng-click='import()' title="Импорт файлов в проект") 9
		div.unicon#params =
	div
		center(style='display:block')
			div {{location.path()}}
			input.text(type='text', value='project', ng-model='$routeParams.project')
		div
			div.tab(ng-repeat='sheet in sheets', ng-class='isSel(sheet) ? "sel" : ""', ng-click='select(sheet)')
				input.text(type='text',ng-model='sheet.name',ng-disabled='!isSel(sheet)')
				button.uniconsm(ng-click='removeSheet(sheet)') X
			div.tab
				button.uniconsm(ng-click='newSheet("Новый лист")') +
	div(style='float:right' ng-controller='Auth')
		div(ng-if="user.auth")
			div Приветствую, {{user.name}}
			button.unicon(ng-click='logout()' title="Выйти") k
		button.unicon(ng-if="!user.auth" ng-click='setAuth("login")' title="Войти") l
			//-div.popup
				div(align='center')
					input#loguser(type='edit', placeholder='логин', size='10')
					input#logpass(type='password', placeholder='пароль', size='10')
				div(align='center')
					button(type='button', onclick='login()') Войти
					button(type='button', onclick='show("reg")') Регистрация

