div.bottom.bar
	button.small &#10133;
	div.tab
		input.text(type='text', value='file')
		button.small &#10005;
	div.tab.sel
		input.text(type='text', value='file')
		button.small &#10005;
	div.tab
		input.text(type='text', value='file')
		button.small &#10005;
	div.tab
		input.text(type='text', value='file')
		button.small &#10005;
